@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");
@import "/node_modules/normalize.css/normalize.css";

$background: #121212;
$primary-color: #1f6fac;
$secondary-color: #5aa7ff;

$tower-color: #413125;

:root {
    font-family: Dosis, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: grid;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

.title {
    font-size: 2.5em;
    text-align: center;
}

.btn {
    background: linear-gradient(to bottom right, #1f6fac, #5aa7ff);
    border: 0;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.2em;
    letter-spacing: 4px;
    font-weight: 500;
    line-height: 1.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.2s ease-in-out;
    user-select: none;
    white-space: nowrap;
    &:not([disabled]) {
        &:focus {
            box-shadow:
                0 0 0.25rem rgba(0, 0, 0, 0.5),
                -0.125rem -0.01rem 1rem rgba(77, 84, 220, 0.455),
                0.125rem 0.01rem 1rem rgba(153, 172, 234, 0.5);
        }
        &:hover {
            box-shadow:
                0 0 0.25rem rgba(0, 0, 0, 0.5),
                -0.125rem -0.01rem 1rem rgba(77, 84, 220, 0.455),
                0.125rem 0.01rem 1rem rgba(153, 172, 234, 0.5);
        }
    }
}

.board {
    background: #515151;
    border-radius: 20px;
    width: 100%;
    position: relative;
    &-game {
        display: flex;
        justify-content: center;
        padding: 0.6rem 1.5rem;
        gap: 0.5em;
        border-bottom: 4px double #282828;
        &-info {
            display: flex;
            flex-direction: column;
            > .label {
                &-moves {
                    font-size: 1.5em;
                    color: $secondary-color;
                }
                &-win {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 99;
                    font-size: 2.5em;
                    font-weight: bolder;
                    text-shadow: 2px 1px 10px $primary-color;
                    color: $secondary-color;
                    animation: fadeIn 450ms;
                }
            }
        }

        &-options {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
    }
    &-playground {
        padding: 10px;
        display: flex;
        gap: 4px;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        opacity: 0.5;
        transform: translate(-50%, -50%) scale(1.2);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

.select-disc {
    -webkit-appearance: none;
    outline: none;
    font-size: 1rem;
    box-sizing: border-box;
    border-radius: 4px;
    background: $primary-color;
    border: 1px solid $secondary-color;
    padding: 0.5em 3.5em 0.5em 1em;
    background-image: linear-gradient(45deg, transparent 50%, $secondary-color 50%),
        linear-gradient(135deg, $secondary-color 50%, transparent 50%),
        linear-gradient(to right, $primary-color, $secondary-color);
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
    color: white;
    cursor: pointer;
    &-label {
        position: relative;
    }
}

.tower {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    width: 180px;

    &-pillar {
        background-color: $tower-color;
        border: 1px solid black;
        border-bottom: none;
        display: inline-block;
        vertical-align: bottom;
        width: 18px;
        border-radius: 5px 5px 0 0;
    }
    &-base {
        background-color: $tower-color;
        border: 1px solid black;
        height: 18px;
        width: 100%;
        vertical-align: bottom;
    }
}

// FUNCTION TO MAKE DYNAMIC THE DISC ID
@for $i from 1 through 8 {
    #disc-#{$i} {
        max-width: 180px;
        width: $i * 1.2 * 20px;
    }
    @if $i % 2 == 0 {
        #disc-#{$i} {
            color: rgb(156, 252, 248);
            background-color: rgb(110, 123, 251);
        }
    } @else {
        #disc-#{$i} {
            color: rgb(110, 123, 251);
            background-color: rgb(156, 252, 248);
        }
    }
}

.dragging {
    cursor: grabbing !important;
}

.disc {
    font-size: 0.8em;
    height: 20px;
    vertical-align: center;
    margin-bottom: -1px;
    border-radius: 4px;
    &[data-top-disc="true"] {
        cursor: grab;
    }
    &-group {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 0;
        bottom: 0;
        margin: 0 0 22px 0;
    }
    &-label {
        font-weight: bold;
        pointer-events: none;
        user-select: none;
    }
}

@media screen and (max-width: 600px) {
    .title {
        font-size: 1.8em;
        text-align: center;
    }

    .board {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        &-game {
            display: flex;
            justify-content: center;
            &-info {
                display: flex;
                justify-content: center;
                > .label {
                    &-moves {
                        font-size: 1.1em;
                    }
                    &-win {
                        font-size: 2em;
                    }
                }
            }
        }
    }

    .tower {
        width: 100px;

        &-pillar {
            height: 140px;
            width: 10px;
        }
    }

    .disc {
        font-size: 0.8em;
        height: 18px;

        &-group {
            margin: 0 0 21px 0;
        }
        &-label {
            font-weight: normal;
        }
    }

    .btn {
        font-size: 1em;
    }

    @for $i from 1 through 8 {
        #disc-#{$i} {
            max-width: 100px;
            width: $i * 1.1 * 10px;
        }
    }
}
